
.testcontainer {
  display: flex;
}
.testcontainer div {
  background: #757575;
  border: 4px solid lime;
  flex: 1;
  margin: 10px;
  
}
body {
    background-image: url(../img/food-pattern.jpeg);
    background-repeat: repeat;
    font-family: sans-serif, Geneva, Tahoma, sans-serif;
  }
/*header,
main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}*/
img {
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: 10px;
    border: dashed 16px #ff00b3;
    border-radius: 30px 150px 30px 150px;
      
  }
ol {
  list-style: decimal inside none;
  }
ul {
    list-style: none inside none;
  }
a.link {
    color:black;
    font-weight: bold;
  }
nav {
  text-align: center;
  }
nav:visited,
a:visited {
  color: white;
} 
.head,
.info {
  color: greenyellow;
  border: solid 5px #00ffea;
  border-radius: 50px;
  background-color: #757575;
  padding: 20px;

}
#test {
  display: inline;
}
#main-title {
  color: #00ffea;
  text-shadow: 4px 4px 1px #020808, 2px 2px 2px #464546;
  
  }
#bottom-logo {
  color: #00ffea;
  text-shadow: 4px 4px 1px #020808, 2px 2px 2px #464546;
  position: fixed;
  bottom: 0px;
  right: 0px;
  }
/*#steps,
#ingredients {
  color:greenyellow
  border: solid 10px cyan;
  border-radius: 50px;
  padding: 20px;
}*/

